################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SaveData
/__pycache__
/dist/Main
/build/Main
/Main.spec
/dist
/Build.bat
/Builds/build/Main
/Builds
